.user__Img{
    width:6vw;
}
a.edit {
    margin-right: 10px; 
}
button.delete-user {
    margin-top: 18px;
} 
/* responsive */
@media (min-width: 768px) and (max-width: 979px) {
    .user__Img{
        width:10vw;
    } 
    .title-align{
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 30px;
        margin-left: 18px !important;
    }
}
@media (max-width: 767px) {
    .user__Img{
        width:12vw;
    }
    button.delete-user {
        margin-top: 0px;
    } 
}
@media (max-width: 480px) {
    .user__Img{
        width:15vw;
    }
}

.ico-phone-align {
	background: url("../../images/ico-phone.png") no-repeat;
	height: 18px;
	width: 13px;
	margin-top: -3.5px;
	margin-right: 11px !important;
	line-height: 14px;
	vertical-align: text-top;
}

.ico-mail-align {
	background: url("../../images/ico-mail.png") no-repeat;
	height: 11px;
	width: 17px;
	margin-top: -1px;
	margin-right: 7px !important;
	line-height: 14px;
	vertical-align: text-top;
}