.header__title {
    color: blue;
}

.header__subtitle {
    color: green;
}

.header__image {
    background-color: gray;
    img {
        margin: 1em;
        border-radius: 10px;
        width: 300px;
        height: 300px;
    }
}