
.item {
  background-color: white;
  padding: 16px;
  text-decoration: none;
  color: #252525;
  font-size: 15px;
  font-family: Arial,Helvetica,sans-serif;
  opacity: 0.6;
  display: block;
  transition: opacity 0.3s ease-in-out;
  text-align: left;
  line-height: 36px;
  
}

.item::after {
  content: "";  
  width: 0;
  margin: auto;
  margin-top: 4px;
  display: block;
  transition: width 0.3s ease-in-out;
  text-decoration: none;
}

.item--active,
.item:hover {
  color: #DBDB00;
  transition: color 0.4s ease 0s;
  opacity: 1;
  text-decoration: none;
}

.item--active::after,
.item:hover::after {
  width: 24px;
  text-decoration: none;
}

.item:last-of-type {
  padding-right: 0;
  text-decoration: none;
}

@media (max-width: 415px) {
  .item {
    padding: 20px;
    text-decoration: none;
    color: #252525;
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    opacity: 0.6;
    display: block;
    transition: opacity 0.3s ease-in-out;
    text-align: left;
    line-height: 25px;
  }
}