.wrapper{
	flex-direction: column;
    margin-top: 48px;
    min-width: 400px;
    min-height: 620px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-left: 210px;
    border-left: 1px solid #dae3e9;
    border-bottom: 1px solid #dae3e9;
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 0 0 0 5px;
    width: auto;
    padding: 0 25px;
}

.label{
    display: inline-block;
    width: 120px;
}

.line{
    display: inline-block;
    border-top: 0px;
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid #d0dde9;
    border-radius: 0;
    box-shadow: none;
    border-color: #dee3ea;
    min-height: 30px;
    background-color: #f7f7f7;
    width: 500px;
}

.line:focus{
    box-shadow: none;
}

#description{
    float: left;
}

.box{
    display: inline-block;
    min-width: 500px;
    min-height: 88px;
    background: #fff;
    border-color: #dee3ea;
}

.container{
    margin: 30px 0;
    position: relative;
}

.submit{
    border-color: #2480c2;
    color: #fff;
    text-shadow: rgba(0,0,0,0.35) 0 1px 0;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
    background: linear-gradient(#54b3ff,#0078d9);
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    margin-left: 500px;
}

.submit:hover{
    background: linear-gradient(rgb(56, 155, 235),#0078d9);
}

.or{
    text-transform: uppercase;
    color: #7e91aa;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 8px;
    text-align: right;
    line-height: 20px;
}

.cancel{
    text-transform: uppercase;
    border: 0 none;
    background: none;
    text-decoration: underline;
    font-size: 12px;
    margin-left: 0;
    font-weight: normal;
    line-height: 20px;
    color: #7e91aa;
}

.submit_box{
    margin-bottom: 25px;
    margin-left: -50px;
}

.p{
    color: #9ba0a5;
    text-align: left;
    margin-left: 18%;
    font-size: 13px;
    font-style: italic;
    margin-top: 20px;
}

textarea{
    width: 500px;
    height: 150px;
}

.error{
    color: red;
    display: block;
    margin-left: 120px;
    position: absolute;
}

@media (max-width: 767px){
    .wrapper{
        margin-left: 0;
        flex-direction: column;
        padding-left: 50px;
    }

    .label, #description{
        display: block;
    }

    .submit{
        margin: 0 ;
    }

    .line, .description{
        width: 400px; 
        display: block;
    }

    .submit_box{
        margin-bottom: 25px;
        margin-left: 50px;
    }
}

@media (max-width: 1020px) and (min-width: 768px){
    .wrapper{
        padding: 0 50px;
        margin-left: 0;
    }
}