.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 24px;
    width: 36px;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 70%;
    height: 2px;
    background: white;
}

@media (min-width: 1024px) {
    .toggle-button {
        display: none;
    }
}