.footer__title {
    color: maroon;
}

.footer__subtitle {
    color: green;
}

.footer__image {
    background-color:pink;
    img {
        margin: 1em;
        border-radius: 10px;
        width: 100px;
        height: 100px;
    }
}