.setting-page {
    // padding-right: 20px !important;
    // padding-left: 20px !important;
    border-left: 1px solid #dae3e9;
    border-bottom: 1px solid #dae3e9;
    box-shadow: -3px 3px 3px -2px #f1f1f3;
    border-radius: 5px 0px 0px 5px;
    margin-top: 40px;
    padding-bottom: 40px;
    &__avatar-area {
        input {
            font-size: 12px;
            line-height: 12px;
        }
        p {
            font-size: 12px;
            line-height: 20px;
            margin: 10px 0;
        }
    }
    &__setting-form {
        &__unit {
            padding: 0 !important;
            margin-bottom: 10px;
            label {
                display: block;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
            }
            input {
                border-color: #959fb0;
                background: #fff;
                border-top: 0 none;
                border-left: 0 none;
                border-right: 0 none;
                border-bottom: 1px solid #d0dde9;
                border-radius: 0;
                box-shadow: none;
                border-color: #dee3ea;
                font-size: 13px;
                display: block;
                width: 100%;
                min-height: 30px;
                outline: none;
                box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.07);
                transition: border ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
                &:hover {
                    border-color: #959fb0;
                    box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.07);
                }
            }
        }
        &__aboutMe {
            label {
                display: block;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
            }
            textarea {
                outline: none;
                resize: none;
                font-size: 13px;
                width: 100%;
            }
        }
        &__submit-area {
            &__submit {
                background: linear-gradient(#54b3ff, #0078d9);
                border-color: #2480c2;
                color: #fff;
                text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
                box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
            }
            span {
                font-family: 'Open Sans', sans-serif;
                background-color: none;
                position: relative;
                margin: 0px;
                font-size: 12px;
                padding: 11px;
            }
            &__reset {
                text-transform: uppercase;
                border: 0 none;
                background: none;
                text-decoration: underline;
                font-size: 12px;
            }
        }
    }
}