button {
    background: #2A353F;
    color: white;
    border: none;
    outline: none;
    margin-right: 0.1rem;
}

.pages {
    display: flex;
    justify-content: flex-end;
    & li {
        font-size: 1rem;
        list-style-type: none;
        margin-right: 0.5rem;
    }

    & .highlight {
        font-size: 1.5rem;
    }
}

form input {
    margin-right: 0.5rem;
}

.span2 span{
    margin-left: 3rem;
}

.filter-block {
    margin-top: 5rem;
}
